*{margin: 0; padding: 0; box-sizing: border-box;}

/* body{} */

/* .heading{ */
  /* color: red;
  background: #000;
  font-size: large; */

/* } */

.css{
  text-align: center;
  color: blue;
  background: yellow;
  font-family: 'Square Peg', cursive;
}
.css a{
  text-decoration: none;
}
